@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,400;0,600;1,300;1,500;1,700&display=swap');

h1 {
	font-family: 'Roboto Mono', monospace;
	font-weight: 600;
	color: #162632;
	font-size: 50px;
}

h2 {
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	font-style: italic;
	color: #fff;
	font-size: 50px;
}
h2 span {
	color: #06cb79;
}

h3 {
	font-family: 'Roboto Mono', monospace;
	font-weight: 600;
	color: #fff;
}
h3 span {
	text-decoration: underline #06cb79 3px;
}

h4 {
	font-family: 'Roboto Mono', monospace;
	font-weight: 200;
	font-style: italic;
	color: #fff;
	font-size: 20px;
}

h5 {
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	color: #fff;
}
